body{
    display: flex;
    flex-direction: column;
    justify-content: center;        
    align-items: center;
}

p{
    text-align: end;
    font-size: 32px;
    color: rgb(28, 28, 128);
    
}

span{
    height: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: xx-small;
    padding: 1%;
    background-color: rgb(17, 138, 17);
    color: white;
}